/*LETRA LINEA DE TIEMPO*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.imagenEncabezado{
	background: url(../archivos/teamWork.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}


/*VIDEO DE FONDO INICIO*/

#videoInicio{
  position: fixed;
  z-index: -100;
  opacity: .4;
}

@media (min-aspect-ratio: 16/9){
  #videoInicio{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  #videoInicio{
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px){
  #videoInicio{
    display: none;
  }
  body{
    background: url(./archivos/videoInicio2.PNG);
    background-size: cover;
  }
}

/*BOTON DE MENU RESPONSIVE*/

.custom-toggler.navbar-toggler {
    border-color: #000;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*BARRA DE NAVEGACION*/

.negro{
	background: rgba(0,0,0,.4);
	
}

.top-nav-collapse{
	background: rgba(0,0,0,.75) !important;
}


.imagenYo{
	background-repeat: no-repeat;
	background-size: cover;
}

h3 a{
	color: #000;
	font-family: 'Open Sans', sans-serif;
}

h3 a:hover {
	color: #5d2904;
}

/*FOOTER*/

footer{
	background: #111;
	height: auto;
	width: 100vw;
	font-family: Open Sans, Helvetica, sans-serif;
	padding-top: 40px;
	color: #fff;
}

.footerContent{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footerContent h3{
	font-size: 1,8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}

.footerContent p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}

.redes{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content:center;
	margin: 1rem 0 3rem 0;
}

.redes li{
	margin: 0 10px;
}

.redes a{
	text-decoration: none;
	color: #fff;
}

.redes a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}

.redes a:hover i{
	color: #5d2904;
}

.footerFinal{
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}

.footerFinal p{
	font-size: 14px;
	word-spacing: 2px;
	font-style: italic;
	opacity: .5;
}

/*ICONOS CV*/
.iconosCv{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 1rem 0 3rem 0;
}

.iconosCv li{
  margin: 0 10px;
}

.pdf{
  text-decoration: none;
  color: #ac2200;
}

.word{
  text-decoration: none;
  color: #2b569a;
}

.iconosCv a i{
  font-size: 5rem;
  transition: color .4s ease;
}

.iconosCv a:hover i{
  color: #5d2904;
}

/*LINEA DE TIEMPO*/

.lineaTiempo{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
}

.lineaTiempo:before{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.lineaTiempo li .contenido{
  padding-bottom: 20px;
}

.lineaTiempo ul{
  margin: 0;
  padding: 0;
}

.lineaTiempo li{
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.lineaTiempo li:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
}

.lineaTiempo li:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}

.lineaTiempo li:nth-child(odd):before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(183,117,31,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(183,117,31,.2);
  top: 35px;
  right: -6px;
}

.lineaTiempo li:nth-child(even):before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(93,41,4,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(93,41,4,.3);
  top: 35px;
  left:-6px;
}

.lineaTiempo li h3{
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.h3Derecha{
  color: rgba(93,41,4,1);
}

.h3Izquierda{
  color: rgba(183,117,31,1);
}

.lineaTiempo li p{
  margin: 10px 0 0;
  padding: 0;
}

.lineaTiempo li .tiempo h4{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.lineaTiempo li:nth-child(odd) .tiempo{
  position: absolute;
  top: 25px;
  right: -180px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(183,117,31,1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(183,117,31,.3);
}

.lineaTiempo li:nth-child(even) .tiempo{
  position: absolute;
  top: 25px;
  left: -180px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(93,41,4,1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(93,41,4,.3);
}

@media (max-width: 1000px){
  .lineaTiempo{
    width: 100%;
  }
}

@media (max-width: 767px){
  .lineaTiempo{
    width: 100%;
    padding-bottom: 0;
  }
  .lineaTiempo:before{
    left: 20px;
  }
  .lineaTiempo li:nth-child(even),
  .lineaTiempo li:nth-child(odd){
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px; 
  }
  .lineaTiempo li:nth-child(even):before,
  .lineaTiempo li:nth-child(odd):before{
    top: -18px;
    left: 16px;
  }
  .lineaTiempo li:nth-child(even) .tiempo,
  .lineaTiempo li:nth-child(odd) .tiempo{
    top: -30px;
    left: 50px;
    right: inherit;
  }
}

 
