/*LETRA LINEA DE TIEMPO*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
/*LETRA HOJAS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/*VIDEO DE FONDO INICIO*/

#videoInicio{
  position: fixed;
  z-index: -100;
  opacity: .4;
}

@media (min-aspect-ratio: 16/9){
  #videoInicio{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  #videoInicio{
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px){
  #videoInicio{
    display: none;
  }
  body{
    background: url(./archivos/videoInicio2.PNG);
    background-size: cover;
  }
}

.noDecoracion, h1 a, a:hover{
  text-decoration: none;
  color: #000;
}

h1 a:hover{
  color: #5d2904;
}

/*BOTON DE MENU RESPONSIVE*/

.navbar-dark .navbar-toggler{
  border: 1px solid rgba(0, 0, 0, 1)!important;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

/*BARRA DE NAVEGACION*/

.negro{
	background: rgba(0,0,0,.4);	
}

.top-nav-collapse{
	background: rgba(0,0,0,1) !important;
  color: #fff;
}

.top-nav-collapse.navbar-dark .navbar-toggler{
  border: 1px solid rgba(255, 255, 255, 1)!important;
}

.top-nav-collapse .navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

.navbar:hover{
  background: rgba(0,0,0,.8);
}

.navbar-dark .navbar-toggler:hover{
  border: 1px solid rgba(255, 255, 255, 1)!important;
}

.navbar-toggler-icon:hover{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

/*UN POCO SOBRE MI*/
.tema{
  font-family: 'Poppins', sans-serif;
}

#cartas{
  padding: 20px 0;
  background-color: #fff;
}

#cartas h2{
  font-weight: 500;
  font-size: 34px;
  padding-bottom: 15px;
  color: #5d2904;
}

.title{
  text-align: center;
  padding: 25px 0;
}

.title p{
  font-size: 18px;
  text-align: justify;
}

.card-body{
  box-shadow: 0 0 20px 7px rgba(0,0,0,.1);
}

.card-text{
  text-align: justify;
}

.card-body h3{
  color: #5d2904;
  font-size: 1.25rem;
}

.card{
  margin: 20px 10px;
}

.featurette-divider {
  margin: 2rem 0;
}

.btn{
  box-shadow: none!important;
}


/*ICONOS CV*/
.iconosCv{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 1rem 0 3rem 0;
}

.iconosCv li{
  margin: 0 10px;
}

.pdf{
  text-decoration: none;
  color: #ac2200;
}

.word{
  text-decoration: none;
  color: #2b569a;
}

.iconosCv a i{
  font-size: 5rem;
  transition: color .4s ease;
}

.iconosCv a:hover i{
  color: #5d2904;
}

/*LINEA DE TIEMPO*/

.lineaTiempo{
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
}

.lineaTiempo:before{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.lineaTiempo li .contenido{
  padding-bottom: 20px;
}

.lineaTiempo ul{
  margin: 0;
  padding: 0;
}

.lineaTiempo li{
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.lineaTiempo li:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
}

.lineaTiempo li:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}

.lineaTiempo li:nth-child(odd):before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(183,117,31,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(183,117,31,.2);
  top: 35px;
  right: -6px;
}

.lineaTiempo li:nth-child(even):before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(93,41,4,1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(93,41,4,.3);
  top: 35px;
  left:-6px;
}

.lineaTiempo li h3{
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.h3Derecha{
  color: rgba(93,41,4,1);
}

.h3Izquierda{
  color: rgba(183,117,31,1);
}

.lineaTiempo li p{
  margin: 10px 0 0;
  padding: 0;
}

.lineaTiempo li .tiempo h4{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.lineaTiempo li:nth-child(odd) .tiempo{
  position: absolute;
  top: 25px;
  right: -180px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(183,117,31,1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(183,117,31,.3);
}

.lineaTiempo li:nth-child(even) .tiempo{
  position: absolute;
  top: 25px;
  left: -180px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(93,41,4,1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(93,41,4,.3);
}

@media (max-width: 1000px){
  .lineaTiempo{
    width: 100%;
  }
}

@media (max-width: 767px){
  .lineaTiempo{
    width: 100%;
    padding-bottom: 0;
  }
  .lineaTiempo:before{
    left: 20px;
  }
  .lineaTiempo li:nth-child(even),
  .lineaTiempo li:nth-child(odd){
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px; 
  }
  .lineaTiempo li:nth-child(even):before,
  .lineaTiempo li:nth-child(odd):before{
    top: -18px;
    left: 16px;
  }
  .lineaTiempo li:nth-child(even) .tiempo,
  .lineaTiempo li:nth-child(odd) .tiempo{
    top: -30px;
    left: 50px;
    right: inherit;
  }
}


/*CITAR A ENTREVISTA*/

.contacto{
  position: relative;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 
.contacto .contenido{
  max-width: 800px;
  text-align: center;
}

.contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contenedor .contactoInfo{
  width: 50%;
  display: flex;
  flex-direction: column; 
}

.contenedor .contactoInfo .caja{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contenedor .contactoInfo .caja .icono{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.contenedor .contactoInfo .caja .icono a{
  text-decoration: none;
  color: #5d2904;
}

.contenedor .contactoInfo .caja .texto{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #000;
  flex-direction: column;
  font-weight: 300;
}

.contenedor .contactoInfo .caja .texto h2{
  font-weight: 500;
  color: #5d2904;
}

.formulario{
  width: 40%;
  padding: 40px;
  background: #fff;
}

.formulario h2{
  font-size: 30px;
  color: #5d2904;
  font-weight: 500;
}

.formulario .input{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.formulario .input input,
.formulario .input textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.formulario .input span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
}

.formulario .input input:focus ~ span,
.formulario .input input:valid ~ span,
.formulario .input textarea:focus ~ span,
.formulario .input textarea:valid ~ span{
  transform: translateY(-20px);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  color: #b7751f;
}

.formulario .input input[type="submit"]{
  width: 100px;
  background: #5d2904;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px){
  .contacto{
    padding: 50px;
  }
  .contenedor{
    flex-direction: column;
  }
  .contenedor .contactoInfo{
    margin-bottom: 40px;
  }
  .contenedor .contactoInfo, .formulario{
    width: 100%
  }
}

/*ESTILO HOJAS*/

.primeraCaja{
  display: block;
  position: relative;
  text-align: center;
  height: calc(100vh - 5rem);
  max-height: 700px;
  min-height: 240px;
  /*background: radial-gradient(circle, rgba(140,123,115,1) 0%, rgba(97,75,62,1) 100%);*/
  background: url(../archivos/videoInicio2.PNG);
  background-size: cover;

}

.primeraCaja h1{
  padding-bottom: 200px;
  font-size: 90px;
  font-weight: 600;
  color: #fff;
  color: #5d2904;
}

.cajaFondo{
  display: block;
  position:relative;
  z-index:1000;
  background-color: #fff;

}

.segundaCaja{
  position: relative;
  margin: 0 auto 10rem;
  padding: 5rem 0 5rem;
  background-color: #fff;
  box-shadow: 0 30px 50px 0 rgb(1,1,1,.25);
}


.cajaFondo .segundaCaja:first-child{
  top:-150px;
  position:relative;
  z-index:100;
  margin-bottom:0;
}

.contenido{
  margin: 0 auto 5rem;
  padding: 2rem;
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  background:#fff;
}

.parallax{
  height: 756px;
  position: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: 00;
  text-align: center;
  justify-content: center;
  padding: 155px 0 150px;
  width: 100%
}

@media(max-width: 1040px){
  .primeraCaja h1{
  font-size: 70px;
  }
}

@media (max-width: 700px){
  .cajaFondo{
    padding: 0;
    margin: 0;
  }
  .primeraCaja h1{
  font-size: 50px;
  }
}


/*FOOTER*/

footer{
  background: #111;
  height: auto;
  width: 100vw;
  font-family: Open Sans, Helvetica, sans-serif;
  color: #fff;
  z-index: 3000;
}

.footer-top{
  background-color: #111;
  padding: 70px;
  align-self: flex-end;
}

.footer-top h3{
  font-size: 1,8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  text-align: center;
}

.footer-top p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
}

.redes{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 1rem 0 3rem 0;
}

.redes li{
  margin: 0 10px;
}

.redes a{
  text-decoration: none;
  color: #fff;
}

.redes a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.redes a:hover i{
  color: #5d2904;
}

.footerFinal{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footerFinal p{
  font-size: 14px;
  word-spacing: 2px;
  font-style: italic;
  opacity: .5;
}

.cajaFondo footer:first-child{
  position:relative;
  z-index:100;
  margin-top:10;
}

/*LOGROS*/

.seccion{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.seccionHijo{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  width: 1110px;
}

.seccionHijo .carta{
  position: relative;
  width: 320px;
  height: 320px;
  margin: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.seccionHijo .carta .box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.seccionHijo .carta:hover .box{
  transform: rotateY(180deg);
}

.seccionHijo .carta .box .imgCaja{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.seccionHijo .carta .box .imgCaja img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seccionHijo .carta .box .contenidoCaja{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.seccionHijo .carta .box .contenidoCaja .tarjeta{
  transform-style: preserve-3d;
  padding: 20px;
  /*background: linear-gradient(90deg, rgba(254,0,97,1) 0%, rgba(255,235,59,1) 100%);*/
  background: linear-gradient(90deg, rgba(104,96,92,1) 0%, rgba(205,177,15,1) 100%);
  transform: translateZ(100px);
}

.seccionHijo .carta .box .contenidoCaja .tarjeta h2{
  color: #fff;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: bold;  
}

.seccionHijo .carta .box .contenidoCaja .tarjeta p{
  color: #fff;
  font-size: 16px;
}

/*CERTIFICACIONES*/

.libroPadre{
  margin:0;
  padding: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.libroHijo{
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.libroHijo .maleta{
  position: relative;
  width: 170px;
  height: 350px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.img-thumbnail{
  border-radius: 50%;
  border: 3px solid #dee2e6;
}

.libroHijo .maleta .imgMaleta{
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}

.libroHijo .maleta .mensaje{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center; 
}

.libroHijo .maleta .mensaje h3{
  font-size: 20px;
  font-weight: bold; 
}
.libroHijo .maleta .mensaje p{
  font-size: 15px;
}
.libroHijo .maleta .mensaje a{
  text-decoration: none;
  background-color: #68605c;
  color: #fff;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
}