/*ACERCA DE MI*/
.tema{
  font-family: 'Poppins', sans-serif;
}

#cartas{
  padding: 20px 0;
  background-color: #fff;
}

#cartas h2{
  font-weight: 500;
  font-size: 34px;
  padding-bottom: 15px;
  color: #5d2904;
}

.title{
  text-align: center;
  padding: 25px 0;
}

.title p{
  font-size: 18px;
  text-align: justify;
}

.card-body{
  box-shadow: 0 0 20px 7px rgba(0,0,0,.1);
}

.card-text{
  text-align: justify;
}

.card-body h3{
  color: #5d2904;
  font-size: 1.25rem;
}

.card{
  margin: 20px 10px;
}

.featurette-divider {
  margin: 2rem 0;
}

.btn{
  box-shadow: none!important;
}